.App {
  text-align: center;
  background-color: #fff;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.logo-wrapper {
  background-color: lightcoral;
  border: 2px solid;
}
.sub-desc-3 {
  color: grey;
  font-weight: 500;
}
a {
  text-decoration: none;
}